@import 'global/colors';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu+Mono:wght@400;700&display=swap');


body {
  background: $default-bg;
  color: $default-color;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 65px;
}

.default-border-bottom {
  @include light-border-bottom;
}

.default-border-top {
  @include light-border-top;
}